@model IEnumerable<andrewhaydendev.Models.ProjectModel>

@{ Layout = "~/Views/Shared/_Empty.cshtml";
    int delay = 100;}


@foreach (var project in Model)
{
    <div class="col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="@delay">
        <div class="icon-box iconbox-blue">
            <div class="icon">
                <img class="ProjectLogo" src="@Html.ValueFor(modelItem => project.ImageURL)" />
            </div>
            <h4><a href="">@Html.ValueFor(modelItem => project.Name)</a></h4>
            <p>@Html.ValueFor(modelItem => project.Description)</p>
            @{ if (project.RepositoryLink.Equals(string.Empty))
                {
                    <span style="font-size:5em;" class="github"><i class="bx bxl-github not-available"></i></span> }
                else
                {
                    <a style="font-size:5em;" class="github" href="@Html.ValueFor(modelItem => project.RepositoryLink)" target="_blank"><i class="bx bxl-github"></i></a> } }
        </div>
    </div>
    { 
        delay += 100;
        delay = (delay > 300 ? 100 : delay);
    }

}