@model andrewhaydendev.Models.JobModel

@{
    ViewData["Title"] = "Job Details";
}

<h1>Job Details</h1>

<div>
	<h4>@Html.DisplayFor(model => model.CompanyName)</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			Job Title
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.JobTitle)
		</dd>
		<dt class="col-sm-2">
			Start
		</dt>
		<dd class="col-sm-10">
			@(Model.StartDate.ToShortDateString())
		</dd>
		<dt class="col-sm-2">
			End
		</dt>
		<dd class="col-sm-10">
			@(Model.EndDate.Year < 1900 ? string.Empty : Model.EndDate.ToShortDateString())
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
