@model IEnumerable<andrewhaydendev.Models.JobModel>

@{
    ViewData["Title"] = "Job History";
}

<h1>Job History</h1>

<p>
    The cool places I've worked! I've been fortunate enough to work at a lot of cool places and work on a lot of cool projects.
</p>
<table class="table">
    <thead>
		<tr>
			<th>
				Company
			</th>
			<th>
				Job Title
			</th>
			<th>
				Description
			</th>
			<th>
				Start
			</th>
			<th>
				End
			</th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CompanyName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.JobTitle)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@(string.Format("{0:MMM yyyy}",item.StartDate))
			</td>
			<td>
				@(item.EndDate.Year < 1900 ? string.Empty : string.Format("{0:MMM yyyy}", item.EndDate))
			</td>

		</tr>
}
    </tbody>
</table>
